/* Adicione ao seu arquivo CSS */

.project-container {
    display: flex;
    flex-wrap: wrap;
}

.project-box {
    width: calc(50% - 16px); /* Largura de 50% com algum espaço entre as caixas */
    margin: 8px;
    box-sizing: border-box;
}

.project-title {
    font-size: 16px; /* Reduzi mais o tamanho da fonte do título */
    font-weight: bold;
    color: #333;
    margin-bottom: 4px; /* Reduzi mais a margem inferior do título */
}

.project-description {
    font-size: 10px; /* Reduzi mais o tamanho da fonte da descrição */
    color: #666;
    margin-bottom: 8px; /* Reduzi mais a margem inferior da descrição */
}

.project-button {
    padding: 4px 8px; /* Reduzi mais o padding do botão */
    font-size: 10px; /* Reduzi mais o tamanho da fonte do botão */
}

.notification-badge {
    width: 12px; /* Reduzi a largura */
    height: 12px; /* Reduzi a altura */
    font-size: 8px; /* Reduzi o tamanho da fonte */
}
