.body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; /* Texto em tom de cinza escuro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa; /* Fundo em tom de cinza claro */
}

.nav {
    flex-direction: column;
    background-color: #343a40; /* Azul acinzentado escuro */
    overflow: hidden;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav a {
    display: inline-block;
    color: #fff; /* Texto branco */
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
    background-color: #495057; /* Azul acinzentado mais escuro ao passar o mouse */
    color: #fff;
}

.content {
    text-align: center;
    margin-top: 100px;
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h{
    margin-top: 20%;
    font-size: 24px;
    color: #007bff;
}

#statusForm, #photoForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#statusForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#statusForm input[type="submit"], #photoForm input[type="submit"] {
    border: none;
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#statusForm input[type="submit"]:hover, #photoForm input[type="submit"]:hover {
    background-color: #218838;
}

#statusDisplay, #photoDisplay {
    margin-top: 20px;
}

#photoDisplay img {
    max-width: 300px; /* Defina o tamanho máximo desejado para a imagem */
    height: auto;
}